@charset "UTF-8";

.jobofferbtn1 {
	width: 33%;
	position: relative;
	float: left;
	min-height: 1px;
	padding-left: 20px;
	text-align: center;
}

.row:last-child {
	margin: 0 0 0 60px;
}

.jobofferlist {
	float: left;
	margin: 0 13% 0 13%;
}

.receivelist{
	float: left;
	margin: 0 13% 0 13%;
}

.bodymargin {
	margin: 0 10% 0 10%;
}

hr {
	border: solid 1px gray;
	width: 700pt;
}

.selectlist {
	float: right;
}

.search_time {
	padding-left: 120px;
}

.joboffer {
	float: left;
	text-align: center;
	padding-left: 150px;
	padding-right: 80px;
}

td {
	text-align: center;
}

.pattern {
	align: center;
}