@charset "UTF-8";

.jobofferbtn1 {
	width: 33%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	margin: 0 auto;
	text-align: center;
}

.glyphicon-search {
	color: black;
	font-size: 15px;
}

.alpha-bg {
	background-color: white;
	opacity: 0.9;
}

.intext_color_1 {
	font-color: black;
}

.shop-image {
	margin: 20px;
	display: block;
	width: 200px;
	height: 200px;
	border : 5px solid green;
}

.img-responsive
{
	padding :10px;
	border: 5px;
}

.row:last-child {
	margin: 0 7% 0 7%;
}

.jobofferlist {
	float: left;
	margin: 0 13% 0 13%;
}

.bodymargin {
	margin: 0 10% 0 10%;
}

hr {
	border: solid 1px gray;
}

.selectlist {
	float: right;
}

.main_top{
	font-size:20pt;
}
/* 글씨 크기*/
.text_10
{
	font-size:8pt;
}
.text_15{
	font-size:15pt;
}
.text_12{
	font-size:12pt;
}

/* 메인 페이지 */

.joboffer{
	
	padding-left:15px;
	padding-right:15px;
}

/* 중간 정보, 주소 입력창*/
.midsec{
width :100%;
float:left;
font-size:12pt;

}
.midsec span{
	display:block;
	float:left;
	padding-left:10px;
	padding-bottom:10px;
	width:20%;
}
.midsec input{
	display:block;
	float:left;
	margin-bottom:10px;
	width:70%;
}

.midsec select{
	display:block;
	float:left;
	margin-bottom:10px;
	width:70%;
}

/* 근무조건*/
.job_info_sec span{
	
	font-size:12pt;
	padding-bottom:10px;
	
}
.job_info_sec input,select{
	
	font-size:12pt;
	margin-bottom:10px;
	
	
}

/* 본문 */
.text_sec textarea
{
	width:90%;
	margin-left:2%;
}
/* 프리미엄 서비스 */
.premium_sec
{
	font-size:12pt;
}

/* 사진등록관련 */
.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #333;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #23AD21;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.filebox .upload-name {
	display: inline-block;
	padding: .5em .75em; /* label의 패딩값과 일치 */
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}

/* 전체 글꼴 색상*/
header{
	color:#333;
}

/* 미리보기 화면 (실제 구직정보보기 할때 띄울 창)*/
.modal-body
{
	margin : 15px;
}
.preiview_img
{
	width:250px;
	height:250px;
}

.companyname{
	display:inline-block;
	padding-right:170px;
}
.preiview_icon
{
	margin: 5px;
	line-height:90pt;
	font-size:25pt;
	color:white;
	display:inline-block;
	width:90px;
	height:90px;
	background-color:#009640;
	border-radius:10px
}

.age{
	line-height:70pt;
}

.preiview_icon span
{
	
	background-color:#009640;
}
.preview_content_text
{
	width:90%;
}
.preview_maptable tr td:first-child
{
	width:40%;
}

