<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">

	<resultMap id="resultBoard1" type="Board">
		<id property="boardNum" column="BOARD_NUM" />
  		<result property="boardName" column="BOARD_NAME"/>
  		<result property="boardSubject" column="BOARD_SUBJECT"/>
  		<result property="boardContent" column="BOARD_CONTENT"/>
  		<result property="boardCount" column="BOARD_COUNT"/>
  		<result property="boardDate" column="BOARD_DATE"/>
  		<result property="replyCount" column="REPLY_COUNT"/>
	</resultMap>
	
	<resultMap id="resultBoard2" type="Board">
		<id property="boardNum" column="BOARD_NUM" />
  		<result property="boardName" column="BOARD_NAME"/>
  		<result property="boardSubject" column="BOARD_SUBJECT"/>
  		<result property="boardContent" column="BOARD_CONTENT"/>
  		<result property="boardCount" column="BOARD_COUNT"/>
  		<result property="boardDate" column="BOARD_DATE"/>
  		<result property="boardType" column="BOARD_TYPE"/>
  		<result property="boardPhoto" column="BOARD_PHOTO"/>
  		<result property="replyCheck" column="REPLY_CHECK"/>
	</resultMap>
	
	<resultMap id="resultReply1" type="Reply">
		<id property="replyNum" column="REPLY_NUM" />
  		<result property="replyLevel" column="RELPY_LEVEL"/>
  		<result property="replyName" column="RELPY_NAME"/>
  		<result property="replyContent" column="RELPY_CONTENT"/>
  		<result property="replyDate" column="REPLY_DATE"/>
	</resultMap>
	
	<resultMap id="resultReply2" type="Reply">
		<id property="replyNum" column="REPLY_NUM" />
  		<result property="replyName" column="RELPY_NAME"/>
  		<result property="replySubject" column="REPLY_SUBJECT"/>
  		<result property="replyContent" column="RELPY_CONTENT"/>
  		<result property="replyDate" column="REPLY_DATE"/>
	</resultMap>

	<select id="selectList" resultMap="resultBoard1">
		SELECT BOARD_NUM, BOARD_NAME, BOARD_SUBJECT, BOARD_CONTENT, BOARD_COUNT, BOARD_DATE, (SELECT COUNT(*) FROM FREE_BOARD_REPLY WHERE BOARD_NUM = REPLY_NUM) AS REPLY_COUNT FROM FREE_BOARD ORDER BY BOARD_NUM DESC
	</select>
	
	<select id="selectOne" parameterType="_int" resultMap="resultBoard1">
		SELECT * FROM FREE_BOARD WHERE BOARD_NUM = #{boardNum}
	</select>	
	
	<insert id="insertBoard" parameterType="Board">
 		INSERT INTO FREE_BOARD VALUES 
		((select nvl(max(BOARD_NUM) + 1, 1) from FREE_BOARD),
			#{boardName}, #{boardSubject}, #{boardContent}, #{boardCount}, SYSDATE)
  	</insert>
  	
  	<update id="updateBoard">
		UPDATE FREE_BOARD SET BOARD_SUBJECT = #{boardSubject}, BOARD_CONTENT = #{boardContent} 
		WHERE BOARD_NUM = #{boardNum}
 	</update>
 	
 	<delete id="deleteBoard">
		DELETE FROM FREE_BOARD WHERE BOARD_NUM = #{boardNum}
  	</delete> 
  	
  	<update id="updateBoardNum">
		UPDATE FREE_BOARD SET BOARD_NUM = BOARD_NUM - 1 
		WHERE BOARD_NUM BETWEEN (#{boardNum} + 1) AND (select max(BOARD_NUM) from FREE_BOARD)
 	</update> 	
  	
  	<update id="addReadCount">
	  	UPDATE FREE_BOARD SET BOARD_COUNT = (BOARD_COUNT + 1) WHERE BOARD_NUM = #{boardNum}
 	</update>
 	
 	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM FREE_BOARD
	</select>
	
	<select id="getReplyCount" resultType="_int">
		SELECT COUNT(*) FROM FREE_BOARD_REPLY WHERE REPLY_NUM = #{boardNum}
	</select>
	
	<select id="selectReList" resultMap="resultReply1" parameterType="java.util.HashMap">
		SELECT REPLY_NUM, RELPY_LEVEL, RELPY_NAME, RELPY_CONTENT, REPLY_DATE FROM FREE_BOARD_REPLY WHERE REPLY_NUM = #{boardNum} ORDER BY RELPY_LEVEL ASC
	</select>	
   	
   	<insert id="insertReply">
 		INSERT INTO FREE_BOARD_REPLY VALUES 
		(#{replyNum}, (select nvl(max(RELPY_LEVEL) + 1, 1) from FREE_BOARD_REPLY WHERE REPLY_NUM = #{replyNum}), #{replyName}, #{replyContent}, SYSDATE)
  	</insert>
 	
 	<update id="deleteOneReply">
		DELETE FROM FREE_BOARD_REPLY WHERE REPLY_NUM = #{replyNum} AND RELPY_LEVEL = #{replyLevel}
 	</update>
 	
 	<delete id="deleteReply">
		DELETE FROM FREE_BOARD_REPLY WHERE REPLY_NUM = #{boardNum}
  	</delete>  	
  	
  	<update id="updateReplyLevel">
		UPDATE FREE_BOARD SET RELPY_LEVEL = RELPY_LEVEL - 1 
		WHERE BOARD_NUM BETWEEN (#{replyLevel} + 1) AND (select max(RELPY_LEVEL) from FREE_BOARD_REPLY)
 	</update>
 	
</mapper>