<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jboard">

	<resultMap id="resultJBoard" type="Job_Board">
		<id property="JOB_ID" column="JOB_ID" />
  		<result property="JOB_LEVEL" column="JOB_LEVEL"/>
  		<result property="JOB_TYPE" column="JOB_TYPE"/>
  		<result property="JOB_PHOTO" column="JOB_PHOTO"/>
  		<result property="JOB_VALUE" column="JOB_VALUE"/>
  		<result property="JOB_VALUETYPE" column="JOB_VALUETYPE"/>
  		<result property="JOB_STARTTIME" column="JOB_STARTTIME"/>
  		<result property="JOB_ENDTIME" column="JOB_ENDTIME"/>
  		<result property="JOB_STARTDAY" column="JOB_STARTDAY"/>
  		<result property="JOB_ENDDAY" column="JOB_ENDDAY"/>
  		<result property="JOB_CONTENT" column="JOB_CONTENT"/>
  		<result property="JOB_KEY" column="JOB_KEY"/>
  		<result property="JOB_ENDDATE" column="JOB_ENDDATE"/>
  		<result property="JOB_MAX_NUM" column="JOB_MAX_NUM"/>
  		<result property="JOB_CURRENT_NUM" column="JOB_CURRENT_NUM"/>
  		<result property="JOB_PUBLIC" column="JOB_PUBLIC"/>
  		<result property="JOB_DATE" column="JOB_DATE"/>
	</resultMap>

	<resultMap id="resultCompany" type="Company_View">
		<id property="MEMBER_ID" column="MEMBER_ID" />
  		<result property="MEMBER_TYPE" column="MEMBER_TYPE"/>
  		<result property="MEMBER_NAME" column="MEMBER_NAME"/>
  		<result property="MEMBER_PHONE" column="MEMBER_PHONE"/>
  		<result property="MEMBER_EMAIL" column="MEMBER_EMAIL"/>
  		<result property="COM_NUMBER" column="COM_NUMBER"/>
  		<result property="COM_NAME" column="COM_NAME"/>
  		<result property="COM_ADDRESS" column="COM_ADDRESS"/>
  		<result property="COM_CEO" column="COM_CEO"/>
  		<result property="COM_PHONE" column="COM_PHONE"/>
  		<result property="CASH_NUMBER" column="CASH_NUMBER"/>
	</resultMap>

	
	<select id="addserach" parameterType="String" resultMap="resultJBoard">
		SELECT * FROM JOB_BOARD WHERE JOB_ID = #{comId}
	</select>
	
	<select id="addr_getCompanyId" parameterType="hashmap" resultMap="resultCompany"> 
		SELECT * FROM (SELECT * FROM COMPANY_VIEW WHERE COM_ADDRESS LIKE '%' || #{address1} || '%') 
		WHERE COM_ADDRESS LIKE '%' || #{address2} || '%'
	</select>
	
	<select id="tobserach" parameterType="String" resultMap="resultJBoard"> 
		SELECT * FROM JOB_BOARD WHERE JOB_TYPE = #{tob}
	</select>
	
	<select id="tob_getCompanyId" parameterType="String" resultMap="resultCompany"> 
		SELECT * FROM COMPANY_VIEW WHERE MEMBER_ID = #{comID}
	</select>
	
  <select id="getCompanyId" parameterType="hashmap" resultMap="resultCompany"> 
		SELECT * FROM (SELECT * FROM COMPANY_VIEW WHERE COM_ADDRESS LIKE '%' || #{ADDRESS1} || '%') 
		WHERE COM_ADDRESS LIKE '%' || #{ADDRESS2} || '%'
	</select>

</mapper>