<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<resultMap id="resultMember" type="Member">
		<id property="memberId" 	   column="MEMBER_ID" />
  		<result property="memberPass"  column="MEMBER_PASS"/>
  		<result property="memberName"  column="MEMBER_NAME"/>
  		<result property="memberPhone" column="MEMBER_PHONE"/>
  		<result property="memberEmail" column="MEMBER_EMAIL"/>
  		<result property="memberType"  column="MEMBER_TYPE"/>
  		<result property="memberDate"  column="MEMBER_DATE"/>
  		<result property="memberBlack" column="MEMBER_BLACK"/> 
	</resultMap>	
	
	<resultMap id="resultPeronal" type="Personal">
		<id property="perId" 	   column="PER_ID" />
  		<result property="perTalk"  column="PER_TALK"/>
  		<result property="perAge"  column="PER_AGE"/>
  		<result property="perAddress" column="PER_ADDRESS"/>
  		<result property="perSex" column="PER_SEX"/>
  		<result property="perPhoto"  column="PER_PHOTO"/>  		  	
	</resultMap>
	
	<resultMap id="resultCom" type="Com_Info">
		<id property="comId" 	   column="COM_ID" />   
		<result property="comNumber"  column="COM_NUMBER"/>  
		<result property="comName"  column="COM_NAME"/>  
		<result property="comAddress" column="COM_ADDRESS"/> 
		<result property="comCeo" column="COM_CEO"/> 
		<result property="comPhone"  column="COM_PHONE"/>  
 	</resultMap>
	
	

	<select id="selectMember" parameterType="Member" resultMap="resultMember">
		SELECT * FROM MEMBER WHERE ID = #{memberId} and PASSWD = #{memberPass}
	</select>
	
	
	<insert id="insertMember" parameterType="Member">
 		INSERT INTO MEMBER_INFO VALUES
 		(#{memberId}, #{memberPass}, #{memberName}, #{memberPhone},
			#{memberEmail}, 0, SYSDATE, 0)		
  	</insert>
  	
  	<insert id="insertPerInfo" parameterType="Member">
  		insert into personal_info
 		values(#{memberId}, #{perTalk}, #{perAge}, #{perAddress}, #{perSex}, #{perPhoto})  	
  	</insert>
  	
  	<insert id="insertComInfo" parameterType="Member">
  		insert into COM_INFO
  		values(#{memberId},#{comNumber},#{comName},#{comAddress},#{comCeo},#{comPhone})
  	</insert>
</mapper>

