<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.worknow.main.model.vo.Job_Board" alias="Job_Board"/>
		<typeAlias type="com.kh.worknow.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.worknow.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.worknow.member.model.vo.Personal_Info" alias="Personal"/>
		<typeAlias type="com.kh.worknow.member.model.vo.Com_Info" alias="Com_Info"/>
		<typeAlias type="com.kh.worknow.main.model.vo.Company_View" alias="Company_View"/>		
		<typeAlias type="com.kh.worknow.offer.model.vo.Cash_Info" alias="Cash"/>
  </typeAliases>

	
	<!-- 마이바티스 DataSource 설정은 root-context.xml을 참조한다. -->
	
	<mappers>
		<mapper resource="mappers/jboard-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>		
		<mapper resource="mappers/personal-mapper.xml"/>		
		<mapper resource="mappers/com-mapper.xml"/>		
	</mappers>
</configuration>