<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>		
		<typeAlias type="com.kh.worknow.main.model.vo.Job_Board" alias="Job_Board"/>
		<typeAlias type="com.kh.worknow.main.model.vo.Company_View" alias="Company_View"/>
		<typeAlias type="com.kh.worknow.Rboard.model.vo.Resume_Board" alias="Resume_Board"/>
		<typeAlias type="com.kh.worknow.board.model.vo.Board" alias="Board"/>
	</typeAliases>
	
	<!-- 마이바티스 DataSource 설정은 root-context.xml을 참조한다. -->
	
	<mappers>
		<mapper resource="mappers/jboard-mapper.xml"/>
	</mappers>
</configuration>